@page
@model PrivacyModel
@{
    ViewData["Informacje"] = "Orc vs Elf";
}
<h1>@ViewData["Informacje"]</h1>

<h2>W tej symulacji jest kilka ważnych zasad. Należy się z nimi zapoznać, aby lepiej rozumieć rozgrywkę.</h2>
<br />
<h3>1. Postać która będzie miała więcej siły niż reszta stworzeń po 4 ruchach, dostaje bardzo dużo siły. Gracz decyduje, kto nią będzie!</h3>
<h3>2. Gdzie dwóch się bije, tam trzeci korzysta - jeśli walka będzie się odbywała między dwoma postaciami, trzecia zawsze wygrywa! (atak z zaskoczenia)</h3>
<h3>3. Wchodzenie w lawę zabija wszystkich oprócz stworów latających. </h3>
<h3>4. Wejście w trawę daje Orkom możliwość polowania i idący za tym wzrost RAGE</h3>
<h3>5. Wejście w trawę daje Elfom możliwość śpiewania i idący za tym wzrost AGILITY</h3>
<h3>6. Wejście w trawę daje Zwierzętom możliwość rodzenia potomstwa i idący za tym wzrost SIZE</h3>
<h3> </h3>
<h3></h3>