@page
@model PrivacyModel
@{
    ViewData["Informacje"] = "Orc vs Elf - gra interaktywna!";
}
<h1>@ViewData["Informacje"]</h1>

<h2>Tu pojawi sie opis gotowej symulacji, ktora pokaze mozliwosci gry.</h2>
